{% extends 'app/templates/base-sub.html' %}
{% block meta_ref %}
  {{ macro.meta_data(data.JUSTICE) }}
{% endblock %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}

<div class="main">

  <div class="banner small-banner">
    <div class="banner-image criminal-justice"></div>
    <header class="grand-header content-block">
      <h1><a href="//s3.amazonaws.com/apps.texastribune.org/perry-legacy/">{{ data.META.project_title }}</a></h1>
      <h1 class="subtitle">{{ data.JUSTICE.topic }}</h1>
    </header>
  </div>

  <div class="container">
    <div class="prose">
      {{ macro.headline(data.JUSTICE) }}
      {{ data.JUSTICE.text_1 }}
      <div class="media">
        <img src="../../images/story_photos/Perry-Legacy-114.jpg">
        <p class="caption">{{ data.JUSTICE.img_1_caption }} Photo by {{ data.JUSTICE.img_1_credit }}</p>
      </div>

      {{ data.JUSTICE.text_2 }}

      <div class="block-text">
        <h2>&ldquo;Gov. Perry has not led on these issues, but he didn’t sabotage them either and deserves credit for not being an obstructionist.&rdquo;</h2>
        <p class="source">&mdash; State Sen. Rodney Ellis, D-Houston</p>
      </div>

      {{ data.JUSTICE.text_3 }}
      <div class="media">
        <img src="../../images/story_photos/Perry-Legacy-113.jpg">
        <p class="caption">{{ data.JUSTICE.img_2_caption }} Photo by {{ data.JUSTICE.img_2_credit }}</p>
      </div>
      {{ data.JUSTICE.text_4 }}
      {% include 'app/templates/includes/box_ad.html' %}
      {{ data.JUSTICE.text_5 }}


      <div class="sub-navigation">
        <h3>Keep reading:</h3>
        <ul>
        {% for key, value in data %}
          {% if value.topic %}
          <li class="story-link">
            <a href=""><i class="fa {{ value.icon }}"></i>{{ value.topic }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>

      {% include 'app/templates/includes/banner_ad.html' %}
    </div>
  </div>
</div>



{% endblock %}
