{% extends 'app/templates/base-sub.html' %}
{% block meta_ref %}
  {{ macro.meta_data(data.TRANSPO) }}
{% endblock %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}

<div class="main">

  <div class="banner small-banner">
    <div class="banner-image transportation"></div>
    <header class="grand-header content-block">
      <h1><a href="//s3.amazonaws.com/apps.texastribune.org/perry-legacy/">{{ data.META.project_title }}</a></h1>
      <h1 class="subtitle">{{ data.TRANSPO.topic }}</h1>
    </header>
  </div>

  <div class="container">
    <div class="prose">
      {{ macro.headline(data.TRANSPO) }}
      {{ data.TRANSPO.text_1 }}
      <div class="media">
        <img src="{{ data.TRANSPO.img_1 }}">
        <p class="caption">{{ data.TRANSPO.img_1_caption }} Photo by {{ data.TRANSPO.img_1_credit }}</p>
      </div>

      {{ data.TRANSPO.text_2 }}

      <div class="block-text">
        <h2>&ldquo;Pay-as-you-go just didn’t pour enough asphalt and concrete to meet our growing needs.&rdquo;</h2>
        <p class="source">&mdash; Gov. Rick Perry in a speech in January</p>
      </div>

      {{ data.TRANSPO.text_3 }}
      {% include 'app/templates/includes/box_ad.html' %}
      {{ data.TRANSPO.text_4 }}


      <div class="sub-navigation">
        <h3>Keep reading:</h3>
        <ul>
        {% for key, value in data %}
          {% if value.topic %}
          <li class="story-link">
            <a href="http://apps.texastribune.org/perry-legacy/{{ value.slug }}"><i class="fa {{ value.icon }}"></i>{{ value.topic }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>

      {% include 'app/templates/includes/banner_ad.html' %}
    </div>
  </div>
</div>



{% endblock %}
