{% extends 'app/templates/base-sub.html' %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}

<div class="main">

  <div class="banner">
    <div class="banner-image"></div>
    <header class="grand-header content-block">
      <h1><a href="//s3.amazonaws.com/apps.texastribune.org/perry-legacy/">{{ data.META.project_title }}</a></h1>
      <h1>On {{ data.TRANSPO.topic }}</h1>
    </header>
  </div>

  <div class="container">
    <div class="prose">
      {{ macro.headline(data.TRANSPO) }}

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec diam id nibh tincidunt facilisis vel ut dui. Morbi finibus iaculis lacus, sit amet malesuada ante maximus et. Aliquam ornare finibus erat id eleifend. Sed orci tellus, lacinia nec fringilla ut, lacinia ut tellus. Aenean tempus lorem a accumsan rhoncus. Curabitur pretium dui eget dui tincidunt fringilla vel a justo. Etiam ac turpis gravida, porttitor ligula dignissim, placerat nulla. Aenean at massa a felis mollis lacinia pretium sit amet augue. Nulla dignissim rhoncus dapibus. Nunc et laoreet metus, eu bibendum nulla. Sed pellentesque arcu ex, pretium volutpat diam auctor eu. In consequat bibendum erat eget cursus. Etiam quis nunc in mauris eleifend facilisis. Aliquam sed mi bibendum, ultricies lorem sed, placerat lacus. Ut congue pulvinar nisi, eu ornare tellus pretium ac. Phasellus a lectus vitae ante sagittis mattis.</p>
      <div class="media">
        <img src="{{ data.TRANSPO.img_1 }}">
        <p class="caption">{{ data.TRANSPO.img_1_caption }} Photo by {{ data.TRANSPO.img_1_credit }}</p>
      </div>
      <p>Aenean viverra tellus eleifend odio vehicula vehicula. Nulla sit amet diam facilisis, maximus arcu eget, eleifend purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec eget tortor ac augue commodo mattis. Ut ultrices, magna sagittis suscipit sollicitudin, lectus metus vulputate elit, in consectetur risus nibh a lectus. Vestibulum aliquet tortor metus, eu dignissim felis congue vulputate. Ut lacinia est a elit varius, vel dictum massa consequat. Donec at euismod diam. Fusce vitae iaculis odio. Integer blandit leo ut venenatis lacinia. Morbi ac sagittis dui. Etiam ex nibh, lacinia sit amet ex a, accumsan molestie nisi. Aenean ac felis luctus, tincidunt dui eget, venenatis erat.</p>
      <div class="block-text">
        <h2>“You know what’s awesome? Cats. Cats are awesome.”</h2>
        <p class="source">— Becca Aaronson, cat enthusiast</p>
      </div>

      <div class="sub-navigation">
        <h3>Keep reading:</h3>
        <ul>
        {% for key, value in data %}
          {% if value.topic %}
          <li class="story-link">
            <a href=""><i class="fa {{ value.icon }}"></i>{{ value.topic }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>



{% endblock %}
