{% extends 'app/templates/base.html' %}
{% block meta_ref %}
  {{ macro.meta_data(data.OVERVIEW) }}
{% endblock %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}

<div class="main">

  <div class="banner landing-banner">
    <div class="banner-image overview"></div>
    <header class="grand-header content-block">
      <h1><a href="//s3.amazonaws.com/apps.texastribune.org/perry-legacy/">{{ data.META.project_title }}</a></h1>
    </header>
  </div>

  <div class="container">
    <div class="prose">

    <!-- Intro Text -->
      {{ macro.headline(data.OVERVIEW) }}
      {{ data.OVERVIEW.text_intro }}
      <nav class="small-block block-text">
        <header>
          <h3>Jump to a section</h3>
        </header>
        <ul>
          <li><a href="#section-1">{{ data.OVERVIEW.text_1_header }}</a></li>
          <li><a href="#section-2">{{ data.OVERVIEW.text_2_header }}</a></li>
          <li><a href="#section-3">{{ data.OVERVIEW.text_3_header }}</a></li>
          <li><a href="#section-4">{{ data.OVERVIEW.text_4_header }}</a></li>
          <li><a href="#section-5">{{ data.OVERVIEW.text_5_header }}</a></li>
          <li><a href="#section-6">{{ data.OVERVIEW.text_6_header }}</a></li>
        </ul>
      </nav>
      {{ data.OVERVIEW.text_introb }}

    <!-- Longevity -->
      <span class="anchor" id="section-1"></span>
      <header>
        <h3>{{ data.OVERVIEW.text_1_header }}</h3>
      </header>

      {{ data.OVERVIEW.text_1 }}

      <div class="media">
        <img src="../../images/story_photos/Perry-Legacy-105.jpg">
        <p class="caption">{{ data.OVERVIEW.img_1_caption }} Photo by {{ data.OVERVIEW.img_1_credit }}</p>
      </div>

      {{ data.OVERVIEW.text_1b }}

<!--       <div class="media">
        <img src="../../images/story_photos/Perry-Legacy-093.jpg">
        <p class="caption">{{ data.OVERVIEW.img_1_caption }} Photo by {{ data.OVERVIEW.img_1_credit }}</p>
      </div> -->

    <!-- Texas Miracle -->
      <span class="anchor" id="section-2"></span>
      <header>
        <h3>{{ data.OVERVIEW.text_2_header }}</h2>
      </header>
      {{ data.OVERVIEW.text_2 }}
      <div class="media">
        <img src="../../images/story_photos/Perry-Legacy-110.jpg">
        <p class="caption">{{ data.OVERVIEW.img_2_caption }} Photo by {{ data.OVERVIEW.img_2_credit }}</p>
      </div>
      {{ data.OVERVIEW.text_2b }}

    <!-- Margins Tax -->
      <span class="anchor" id="section-3"></span>
      <header>
        <h3>{{ data.OVERVIEW.text_3_header }}</h3>
      </header>
      {{ data.OVERVIEW.text_3 }}

      <div class="block-text media">
        <h2>&ldquo;Folks may not have liked the end result, but the margins tax, when you look how it came about, it was really Perry’s finest hour,&rdquo;</h2>
        <p class="source">&mdash; Dale Craymer, president of the Texas Taxpayers and Research Association</p>
      </div>
      {{ data.OVERVIEW.text_3b }}

    <!-- Oops -->
      <span class="anchor" id="section-4"></span>
      <header>
        <h3>{{ data.OVERVIEW.text_4_header }}</h3>
      </header>
      {{ data.OVERVIEW.text_4 }}
      <div class="media">
        <iframe width="560" height="315" src="//www.youtube.com/embed/g5qU7p7yOY8" frameborder="0" allowfullscreen></iframe>
      </div>

      {{ data.OVERVIEW.text_4b }}
    <!-- Indictment -->
      <span class="anchor" id="section-5"></span>
      <header>
        <h3>{{ data.OVERVIEW.text_5_header }}</h3>
      </header>
      {{ data.OVERVIEW.text_5 }}
      <div class="media">
        <img src="../../images/story_photos/Perry-Legacy-096.jpg">
        <p class="caption">{{ data.OVERVIEW.img_3_caption }} Photo by {{ data.OVERVIEW.img_3_credit }}</p>
      </div>
      {{ data.OVERVIEW.text_5b }}

    <!-- Swagger -->
      <span class="anchor" id="section-6"></span>
      <header>
        <h3>{{ data.OVERVIEW.text_6_header }}</h3>
      </header>
      {{ data.OVERVIEW.text_6 }}
      <div class="media">
        <img src="../../images/story_photos/Perry-Legacy-093.jpg">
        <p class="caption">{{ data.OVERVIEW.img_4_caption }} Photo by {{ data.OVERVIEW.img_4_credit }}</p>
      </div>

    <!-- Sub-Navigation -->
      <div class="sub-navigation">
        <h3>Keep reading:</h3>
        <ul>
        {% for key, value in data %}
          {% if value.topic %}
          <li class="story-link">
            <a href="http://apps.texastribune.org/perry-legacy/{{ value.slug }}"><i class="fa {{ value.icon }}"></i>{{ value.topic }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>



{% endblock %}
