{% extends 'app/templates/base.html' %}

{% block content %}

<div class="banner">
  <div class="grand-header-image"></div>
  <header class="grand-header content-block">
    <h1><a href="/">{{ META.project_title }}</a></h1>
    <p>Something goes here</p>
  </header>
</div>

<div class="container">
  <div class="prose">
    <h1>Cat Saves Planet from Apocolypse, Dies in Action</h1>
    <p class="byline">By <a href="http://www.texastribune.org/about/staff/captain-planet/">Captain Planet</a> | July 0, 2084</p>

  </div>
</div>




{% endblock %}
