.ad-container {
  margin: 1em auto;
}

.box-ad {
  float: none;

  @include media($prose-bp-medium) {
    float: right;
    margin-left: 1em;
  }

  @include media($prose-bp-large) {
    float: right;
    margin-left: 1em;
  }
}
