.masthead .branding {
  text-align: right;
  margin-right: .5em;
}

.banner-image {
  background-image: url("//s3.amazonaws.com/static.texastribune.org/media/images/2014/06/05/XPerry351CMS.jpg");
  background-position: center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
