body {
  background-color: $white;
}

.anchor {
  display: block;
  height: 3.5em; /*same height as header*/
  margin-top: -3.5em; /*same height as header*/
  visibility: hidden;
}

.banner {
  margin: 0;
  transition: height .4s ease;

  .grand-header {
    background-color: transparentize($masthead-black, .6);
    bottom: 0%;
    display: block;
    padding: 1em;
    position: absolute;
    width: 100%;

    &.overview {
      bottom: 5%;
    }

    h1 {
      font-size: 2em;
      margin-bottom: .25em;

      @include media($prose-bp-medium) {
        font-size: 2.5em;
      }

      @include media($prose-bp-large) {
        font-size: 3.5em;
      }

      // span {
      //   text-transform: uppercase;
      //   font-size: .7em;
      //   letter-spacing: .1em;
      // }
    }

    p {
      font-size: 1em;
      margin-bottom: 1.5em;
      text-shadow: none;
    }
  }
}

.banner-image {
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &.overview {
    background-image: url("http://s3.amazonaws.com/static.texastribune.org/media/images/2014/06/05/XPerry351CMS.jpg");
    background-position: 34% center;

    // @include media($medium) {
    //   background-position: center center;
    // }

    @include media($large) {
      background-position: center center;
    }

  }

  &.transportation {
    background-image: url("//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/lead-art/Perry-Legacy-047.JPG");
    background-position: center center;
  }

  &.health-care {
    background-image: url("//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/lead-art/Perry-Legacy-004-blur.jpg");
    background-position: 20% center;

    @include media($large) {
      background-position: center center;
    }
  }

  &.higher-education {
    background-image: url("//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/lead-art/Perry-Legacy-020.JPG");
    background-position: center center;

  }

  &.public-education {
    background-image: url("//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/lead-art/Perry-Legacy-053.JPG");
    background-position: center center;

  }

  &.energy {
    background-image: url("//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/lead-art/Perry-Legacy-014.JPG");
    background-position: center center;

  }

  &.environment {
    background-image: url("//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/lead-art/Perry-Legacy-028.JPG");
    background-position: center center;

  }

  &.immigration {
    background-image: url("//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/lead-art/Perry-Legacy-011.JPG");
    background-position: center center;

  }

  &.criminal-justice {
    background-image: url("//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/lead-art/Perry-Legacy-031.JPG");
    background-position: center center;

  }

  &.texas-enterprise-fund {
    background-image: url("//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/lead-art/Perry-Legacy-045.JPG");
    background-position: center center;

  }
}


.byline {
  display: inline-block;
  margin-bottom: 1em;

  p {
    display: inline-block;
  }
}

.footer {
  margin-top: 2em;
}

.masthead .branding {
  display: inline;
  padding-right: 1em;
  text-align: left;

  .trib-logo {
    &.desktop {
      display: none;
      margin: .75em .5em;

      @include media($banner-bp) {
        display: inline-block;
      }
    }

    &.mobile {
      display: inline-block;
      height: 2em;
      margin: .75em .5em;

      @include media($banner-bp) {
        display: none;
      }
    }

  }
}

.prose {
  @include media($prose-bp-large) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($prose-bp-medium) {
    @include span-columns(10);
    @include shift(1);
  }

  ul li:last-child {
    margin-bottom: 2em;
  }

  h1 {
    font-size: 1.5em;
    margin: 1.25em 0 .6em;

    @include media($prose-bp-large) {
      font-size: 2em;
    }

    @include media($prose-bp-medium) {
      font-size: 2em;
    }

  }

  &:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }

  .byline {
    margin-bottom: 0;
  }

  &.raw-text {
    margin-top: 2em;
  }
}

.share-cell i {
  margin-right: .5em;
}
