body {
  background-color: $white;
}

.masthead .branding {
  text-align: right;
  padding-right: 1em;

  .trib-logo {
    &.desktop {
      display: none;

      @include media($banner-bp) {
        display: inline-block;
      }
    }

    &.mobile {
      display: inline-block;
      height: 2em;

      @include media($banner-bp) {
        display: none;
      }
    }

  }
}

.banner-image {
  background-image: url("//s3.amazonaws.com/static.texastribune.org/media/images/2014/06/05/XPerry351CMS.jpg");
  background-position: center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.banner .grand-header {
  display: block;
  position: absolute;
  bottom: 5%;
  width: 100%;

}

.container {
  &:after {
    margin-bottom: 2em;
  }
}

.prose {
  @include media($prose-bp-large) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($prose-bp-medium) {
    @include span-columns(10);
    @include shift(1);
  }
}

.byline {
  display: inline-block;
  margin-bottom: 1em;

  p {
    display: inline-block;
  }
}

.media {
  margin-bottom: 1em;
}
