html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  min-height: 100%;
  position: relative;

  &.open {
    overflow: hidden;
  }
}

.app-bar {
  display: block;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  button {
    background-color: transparent;
    background-image: none;
    border: 0;
    display: inline-block;
    padding: 0;
    transition: background-color .2s ease-out;

    &:hover {
      background-color: rgba(255, 255, 255, .1);
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0);
      outline: 0;
    }

    &:active {
      background-color: rgba(255, 255, 255, .4);
    }

  }

}

.app-bar-container {
  background-color: $masthead-black;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.app-bar.open,
.app-bar.open ~ .main {
  transform: translate(250px, 0);
}

.app-bar-actions {
  z-index: 2;
}

.navdrawer-container {
  background-color: $masthead-black;
  display: none;
  overflow-y: auto;
  transform: translate(-250px, 0);
  width: 250px;
  height: 100%;
  z-index: 1;

  &.open {
    display: block;
    position: fixed;
    transform: translate(0, 0);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom-style: solid;
    border-color: #fff;
    border-width: 1px;
    padding: 0;

    &::before {
      content: none;
    }
  }

  a {
    color: #fff;
    display: block;
    font-size: .8em;
    height: 40px;
    line-height: 1em;
    padding: 12px 20px;
    text-decoration: none;
    transition: background-color .2s ease-out;
    white-space: nowrap;

    &:hover {
      background-color: rgba(255, 255, 255, .2);
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0);
      outline: 0;
    }

    &:active {
      background-color: rgba(255, 255, 255, .4);
    }

    @include media($banner-bp) {
      font-size: 1em;
    }
  }

}

.app-bar,
.navdrawer-container.opened,
.main {
  transition: transform .3s ease-out;
}

.main {
  margin: 0 auto;
  min-height: 100%;
}

p.menu {
  color: $white;
  float: left;
  margin: 1em .5em;
}

li.menu {
  .fa {
    font-size: 1em;
    margin-right: 1em;
    width: 1em;
  }

}

.menu-icon {
  display: inline-block;
  float: left;
  height: 1.25em;
  margin: 1em;
  position: relative;
  width: 1.25em;

  span {
    background-color: #ccc;
    display: block;
    height: .2em;
    margin: 0 auto;
    position: relative;
    transition-delay: .2s;
    transition-duration: 0;
    width: 1.75em;

    &:before,
    &:after {
      background-color: #ccc;
      content: '';
      display: block;
      height: .2em;
      position: absolute;
      transition-delay: .2s, 0;
      transition-duration: .2s;
      transition-property: margin, transform;
      width: 1.75em;
    }

    &:before {
      margin-top: -.5em;
    }

    &:after {
      margin-top: .5em;
    }
  }
}

.x span {
  background-color: rgba(0, 0, 0, 0);
  transition-delay: .2s;

  &:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0, .2s;
  }

  &:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0, .2s;
  }
}

span.menu-hide {
  display: none;

  @include media($banner-bp) {
    display: inline-block;
  }
}

