$sub-nav-bp: new-breakpoint(min-width 500px);

.sub-navigation {

  ul {
    list-style-type: none;
  }

  a {
    .fa {
      color: $bodytext-black;
      font-size: 1.5em;
      margin-right: 1em;
      width: 1em;
    }
  }

  .story-link {
    width: 100%;

    @include media($sub-nav-bp) {
      @include span-columns(6);
      @include omega();
    }

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 2em;
      }
    }

  }

}
