$sub-nav-bp: new-breakpoint(min-width 500px);

.sub-navigation {
  .story-link {
    @include span-columns(8);

    @include media($sub-nav-bp) {
      @include span-columns(4 of 8);
      @include omega();
    }

  li {
    margin-bottom: 1em;
  }

  .fa {
    font-size: 1.5em;
    margin-right: 1em;
    width: 1em;
  }

  a {
    .fa {
      color: $bodytext-black;
    }
  }

  }
}
