{% extends 'app/templates/base-sub.html' %}
{% block meta_ref %}
  {{ macro.meta_data(data.HIGHER_EDU) }}
{% endblock %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}

<div class="main">

  {{ macro.header(data.HIGHER_EDU) }}

  <div class="container">
    <div class="prose">
      {{ macro.headline(data.HIGHER_EDU) }}

      {{ data.HIGHER_EDU.text_intro }}
      <div class="media">
        <img src="//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/Perry-Legacy-092.JPG">
        <p class="caption">{{ data.HIGHER_EDU.img_1_caption }} Photo by {{ data.HIGHER_EDU.img_1_credit }}</p>
      </div>

      {{ data.HIGHER_EDU.text_introb }}

    <!-- Tuition Deregulation -->
      <span class="anchor" id="section-1"></span>
      <header>
        <h3>{{ data.HIGHER_EDU.text_1_header }}</h3>
      </header>

      {{ data.HIGHER_EDU.text_1 }}
      <div class="block-text">
        <h2>&ldquo;We must do everything we can to continue making higher education an achievable dream for all Texans.&rdquo;</h2>
        <p class="source">&mdash; Gov. Rick Perry in his 2013 State of the State address</p>
      </div>
      {{ data.HIGHER_EDU.text_1b }}

    <!-- The Seven Solutions -->
      <span class="anchor" id="section-2"></span>
      <header>
        <h3>{{ data.HIGHER_EDU.text_2_header }}</h2>
      </header>
      {{ data.HIGHER_EDU.text_2 }}
      {{ data.HIGHER_EDU.text_2b }}

    <!-- UT-Austin Tensions -->
      <span class="anchor" id="section-3"></span>
      <header>
        <h3>{{ data.HIGHER_EDU.text_3_header }}</h3>
      </header>
      {{ data.HIGHER_EDU.text_3 }}
      <div class="media">
        <img src="//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/Perry-Legacy-117.JPG">
        <p class="caption">{{ data.HIGHER_EDU.img_2_caption }} Photo by {{ data.HIGHER_EDU.img_2_credit }}</p>
      </div>
      {{ data.HIGHER_EDU.text_3b }}

    <!-- In-State Tuition -->
      <span class="anchor" id="section-4"></span>
      <header>
        <h3>{{ data.HIGHER_EDU.text_4_header }}</h3>
      </header>
      {{ data.HIGHER_EDU.text_4 }}
      {% include 'app/templates/includes/box_ad.html' %}
      {{ data.HIGHER_EDU.text_4b }}

      <div class="sub-navigation">
        <h3>Keep reading:</h3>
        <ul>
        {% for key, value in data %}
          {% if value.topic %}
          <li class="story-link">
            <a href="http://apps.texastribune.org/perry-legacy/{{ value.slug }}"><i class="fa {{ value.icon }}"></i>{{ value.topic }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>

      {% include 'app/templates/includes/banner_ad.html' %}
    </div>
  </div>
</div>



{% endblock %}
