{% extends 'app/templates/base-sub.html' %}
{% block meta_ref %}
  {{ macro.meta_data(data.HEALTH) }}
{% endblock %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}

<div class="main">

  <div class="banner small-banner">
    <div class="banner-image health-care"></div>
    <header class="grand-header content-block">
      <h1><a href="//s3.amazonaws.com/apps.texastribune.org/perry-legacy/">{{ data.META.project_title }}</a></h1>
      <h1 class="subtitle">{{ data.HEALTH.topic }}</h1>
    </header>
  </div>

  <div class="container">
    <div class="prose">
      {{ macro.headline(data.HEALTH) }}
     <!-- Intro Text -->
      {{ data.HEALTH.text_intro }}
      <nav class="med-block block-text">
        <header>
          <h3>At a Glance: Health Outcomes</h3>
        </header>
        <ul>
          <li>Texas has the <a href="https://www.texastribune.org/2014/09/16/texas-tops-census-list-highest-uninsured-rate/">highest uninsured rate</a> in the country.</li>
          <li>Texas has the <a href="http://thenationalcampaign.org/data/compare/1701">fifth-highest teen birth</a> rate per 1,000 girls ages 15 to 19 (2012).</li>
          <li>Texas has the <a href="http://kff.org/other/state-indicator/number-of-deaths-due-to-diseases-of-the-heart-per-100000-population/">21st-highest rate of deaths</a> caused by heart disease per 100,000 residents, and ranks <a href="http://kff.org/other/state-indicator/diabetes-death-rate-per-100000/">22nd in the number of deaths</a> per 100,000 residents due to diabetes (2010).</li>
<!--           <li>Texas has the <a href="http://kff.org/other/state-indicator/adults-with-diabetes-by-age/">second-highest number</a> of adults diagnosed with diabetes (2010).</li> -->
<!--           <li>Texas has the <a href="http://kff.org/other/state-indicator/life-expectancy/">27th-highest life expectancy</a> at birth.</li> -->
<!--           <li>Texas has the <a href="http://kff.org/medicare/state-indicator/total-medicare-beneficiaries/">third-highest number</a> of Medicare beneficiaries.</li> -->
          <li>Texas has the <a href="http://kff.org/medicaid/state-indicator/medicaid-enrollment-as-a-of-pop/">third-highest</a> total Medicaid enrollment, but only <a href="http://kff.org/medicaid/state-indicator/total-medicaid-enrollment/">19 percent</a> of the state is a beneficiary.</li>
        </ul>
      </nav>
      {{ data.HEALTH.text_introb }}

    <!-- Medicaid Expansion -->
      <span class="anchor" id="section-1"></span>
      <header>
        <h3>{{ data.HEALTH.text_1_header }}</h3>
      </header>

      {{ data.HEALTH.text_1 }}
      {{ data.HEALTH.text_1b }}
      <div class="media">
        <img src="http://static.texastribune.org.s3.amazonaws.com/media/perry-legacy/Perry-Legacy-101.JPG">
        <p class="caption">{{ data.HEALTH.img_1_caption }} Photo by {{ data.HEALTH.img_1_credit }}</p>
      </div>

    <!-- Tort Reform -->
      <span class="anchor" id="section-2"></span>
      <header>
        <h3>{{ data.HEALTH.text_2_header }}</h2>
      </header>
      {{ data.HEALTH.text_2 }}
      {{ data.HEALTH.text_2b }}

    <!-- Women's Health -->
      <span class="anchor" id="section-3"></span>
      <header>
        <h3>{{ data.HEALTH.text_3_header }}</h3>
      </header>
      {{ data.HEALTH.text_3 }}
      <div class="media">
        <img src="http://static.texastribune.org.s3.amazonaws.com/media/perry-legacy/Perry-Legacy-102.JPG">
        <p class="caption">{{ data.HEALTH.img_2_caption }} Photo by {{ data.HEALTH.img_2_credit }}</p>
      </div>
      {{ data.HEALTH.text_3b }}

    <!-- HPV Vaccine -->
      <span class="anchor" id="section-4"></span>
      <header>
        <h3>{{ data.HEALTH.text_4_header }}</h3>
      </header>
      {{ data.HEALTH.text_4 }}
      {% include 'app/templates/includes/box_ad.html' %}
      {{ data.HEALTH.text_4b }}

    <!-- CPRIT -->
      <span class="anchor" id="section-5"></span>
      <header>
        <h3>{{ data.HEALTH.text_5_header }}</h3>
      </header>
      {{ data.HEALTH.text_5 }}
      <div class="media">
        <img src="http://static.texastribune.org.s3.amazonaws.com/media/perry-legacy/Perry-Legacy-001.JPG">
        <p class="caption">{{ data.HEALTH.img_3_caption }} Photo by {{ data.HEALTH.img_3_credit }}</p>
      </div>
      {{ data.HEALTH.text_5b }}


      <div class="sub-navigation">
        <h3>Keep reading:</h3>
        <ul>
        {% for key, value in data %}
          {% if value.topic %}
          <li class="story-link">
            <a href=""><i class="fa {{ value.icon }}"></i>{{ value.topic }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>

      {% include 'app/templates/includes/banner_ad.html' %}
    </div>
  </div>
</div>



{% endblock %}
