{% extends 'app/templates/base-sub.html' %}
{% block meta_ref %}
  {{ macro.meta_data(data.HEALTH) }}
{% endblock %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}

<div class="main">

  <div class="banner small-banner">
    <div class="banner-image health-care"></div>
    <header class="grand-header content-block">
      <h1><a href="//s3.amazonaws.com/apps.texastribune.org/perry-legacy/">{{ data.META.project_title }}</a></h1>
      <h1 class="subtitle">{{ data.HEALTH.topic }}</h1>
    </header>
  </div>

  <div class="container">
    <div class="prose">
      {{ macro.headline(data.HEALTH) }}
     <!-- Intro Text -->
      {{ data.HEALTH.text_intro }}
      <nav class="small-block block-text">
        <header>
          <h3>Jump to a section</h3>
        </header>
        <ul>
          <li><a href="#section-1">{{ data.HEALTH.text_1_header }}</a></li>
          <li><a href="#section-2">{{ data.HEALTH.text_2_header }}</a></li>
          <li><a href="#section-3">{{ data.HEALTH.text_3_header }}</a></li>
          <li><a href="#section-4">{{ data.HEALTH.text_4_header }}</a></li>
          <li><a href="#section-5">{{ data.HEALTH.text_5_header }}</a></li>
        </ul>
      </nav>
      {{ data.HEALTH.text_introb }}

    <!-- Medicaid Expansion -->
      <span class="anchor" id="section-1"></span>
      <header>
        <h3>{{ data.HEALTH.text_1_header }}</h3>
      </header>

      {{ data.HEALTH.text_1 }}

      <div class="media">
        <img src="../../images/story_photos/Perry-Legacy-101.jpg">
        <p class="caption">{{ data.HEALTH.img_1_caption }} Photo by {{ data.HEALTH.img_1_credit }}</p>
      </div>

      {{ data.HEALTH.text_1b }}

    <!-- Tort Reform -->
      <span class="anchor" id="section-2"></span>
      <header>
        <h3>{{ data.HEALTH.text_2_header }}</h2>
      </header>
      {{ data.HEALTH.text_2 }}
      <div class="block-text media">
        <h2>&ldquo;Folks may not have liked the end result, but the margins tax, when you look how it came about, it was really Perry’s finest hour,&rdquo;</h2>
        <p class="source">&mdash; Dale Craymer, president of the Texas Taxpayers and Research Association</p>
      </div>
      {{ data.HEALTH.text_2b }}

    <!-- Women's Health -->
      <span class="anchor" id="section-3"></span>
      <header>
        <h3>{{ data.HEALTH.text_3_header }}</h3>
      </header>
      {{ data.HEALTH.text_3 }}
      <div class="media">
        <img src="../../images/story_photos/Perry-Legacy-102.jpg">
        <p class="caption">{{ data.HEALTH.img_2_caption }} Photo by {{ data.HEALTH.img_2_credit }}</p>
      </div>
      {{ data.HEALTH.text_3b }}

    <!-- HPV Vaccine -->
      <span class="anchor" id="section-4"></span>
      <header>
        <h3>{{ data.HEALTH.text_4_header }}</h3>
      </header>
      {{ data.HEALTH.text_4 }}
      {% include 'app/templates/includes/box_ad.html' %}
      {{ data.HEALTH.text_4b }}

    <!-- CPRIT -->
      <span class="anchor" id="section-5"></span>
      <header>
        <h3>{{ data.HEALTH.text_5_header }}</h3>
      </header>
      {{ data.HEALTH.text_5 }}
      <div class="media">
        <img src="../../images/Perry-Legacy-001.jpg">
        <p class="caption">{{ data.HEALTH.img_3_caption }} Photo by {{ data.HEALTH.img_3_credit }}</p>
      </div>
      {{ data.HEALTH.text_5b }}


      <div class="sub-navigation">
        <h3>Keep reading:</h3>
        <ul>
        {% for key, value in data %}
          {% if value.topic %}
          <li class="story-link">
            <a href=""><i class="fa {{ value.icon }}"></i>{{ value.topic }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>

      {% include 'app/templates/includes/banner_ad.html' %}
    </div>
  </div>
</div>



{% endblock %}
