{% extends 'app/templates/base-sub.html' %}
{% block meta_ref %}
  {{ macro.meta_data(data.IMMIGRATION) }}
{% endblock %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}

<div class="main">

  {{ macro.header(data.IMMIGRATION) }}

  <div class="container">
    <div class="prose">
      {{ macro.headline(data.IMMIGRATION) }}
      {{ data.IMMIGRATION.text_1 }}
      <div class="media">
        <img src="//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/Perry-Legacy-111.JPG">
        <p class="caption">{{ data.IMMIGRATION.img_1_caption }} Photo by {{ data.IMMIGRATION.img_1_credit }}</p>
      </div>

      {{ data.IMMIGRATION.text_2 }}

      <div class="block-text">
        <h2>&ldquo;Allowing them to remain here will only encourage the next group of individuals to undertake this very, very dangerous and life-threatening journey.&rdquo;</h2>
        <p class="source">&mdash; Gov. Rick Perry to a congressional committee in 2014</p>
      </div>

      {{ data.IMMIGRATION.text_3 }}
      <div class="media small-block">
        <img src="//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/Perry-Legacy-095.JPG">
        <p class="caption">{{ data.IMMIGRATION.img_2_caption }} Photo by {{ data.IMMIGRATION.img_2_credit }}</p>
      </div>
      {{ data.IMMIGRATION.text_4 }}
      {% include 'app/templates/includes/box_ad.html' %}
      {{ data.IMMIGRATION.text_5 }}


      <div class="sub-navigation">
        <h3>More stories on Rick Perry's Legacy:</h3>
        <ul>
        {% for key, value in data %}
          {% if value.topic %}
          <li class="story-link">
            <a href="http://apps.texastribune.org/perry-legacy/{{ value.slug }}"><i class="fa {{ value.icon }}"></i>{{ value.topic }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      {% include 'app/templates/includes/about.html' %}
      {% include 'app/templates/includes/banner_ad.html' %}
    </div>
  </div>
</div>



{% endblock %}
