<!-- Meta Share data -->
  {% macro meta_data(sheet) %}

    <title> {{ sheet.topic }} | Perry Legacy </title>
  <!--   Open Graph -->
    <meta property="og:site_name" content="The Texas Tribune">
    <meta property="og:description" content="{{ sheet.facebook_text }}">
    <meta property="og:title" content="{{ sheet.headline }}">
    <meta property="og:url" content="http://apps.texastribune.org/perry-legacy/{{ sheet.slug }}">
    <meta property="og:image" content="//s3.amazonaws.com/static.texastribune.org/media/{{ sheet.facebook_art }}">

  <!-- Twitter settings -->
    <meta name="twitter:card" value="summary_large_image">
    <meta name="twitter:site" value="@TexasTribune">
    <meta name="twitter:creator" content="@newsapps">
    <meta name="twitter:title" content="{{ sheet.headline }}">
    <meta name="twitter:description" content="{{ sheet.tweet_text }}">
    <meta name="twitter:url" content="http://apps.texastribune.org/perry-legacy/{{ sheet.slug }}">
    <meta name="twitter:image" content="//s3.amazonaws.com/static.texastribune.org/media/{{ sheet.facebook_art }}">
  {% endmacro %}

<!-- Project Header -->
{% macro header(sheet) %}
  <div class="banner small-banner">
    <div class="banner-image {{ sheet.slug }}"></div>
    <header class="grand-header content-block">
      <h1><a href="//s3.amazonaws.com/apps.texastribune.org/perry-legacy/">The Perry Legacy</a>: {{ sheet.topic }}</h1>
    </header>
  </div>
{% endmacro %}

<!-- HEADLINE -->

  {% macro headline(sheet) %}
  <header>
    <h1>{{ sheet.headline }}</h1>
    <div class="byline">By {{ sheet.byline }} | Dec. 28, 2014</div>
    <div class="row share-row">
      <a href="https://twitter.com/intent/tweet?text={{ sheet.tweet_text | urlencode }} {{ sheet.share_url | urlencode }}&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
        <div class="share-cell first-share">
          <i class="fa fa-twitter"></i> Tweet
        </div>
      </a>
      <a href="https://www.facebook.com/dialog/feed?app_id=154122474650943&display=popup&name={{ sheet.headline | urlencode }}&link=http%3A%2F%2Fapps.texastribune.org%2Fperry-legacy%2F{{ sheet.slug }}%2F&redirect_uri=http://apps.texastribune.org/perry-legacy/{{ sheet.slug }}" title="share on Facebook" class="social-share" target="_blank">
        <div class="share-cell">
          <i class="fa fa-facebook"></i> Share
        </div>
      </a>
    </div>
  </header>
  {% endmacro %}
