{% extends 'app/templates/base-sub.html' %}
{% block meta_ref %}
  {{ macro.meta_data(data.PUBLIC_EDU) }}
{% endblock %}
{% import 'app/templates/macro.html' as macro %}

{% block content %}

<div class="main">

  {{ macro.header(data.PUBLIC_EDU) }}

  <div class="container">
    <div class="prose">
      {{ macro.headline(data.PUBLIC_EDU) }}
      {{ data.PUBLIC_EDU.text_1 }}
      <div class="media">
        <img src="//s3.amazonaws.com/static.texastribune.org/media/perry-legacy/Perry-Legacy-022.JPG">
        <p class="caption">{{ data.PUBLIC_EDU.img_1_caption }} Photo by {{ data.PUBLIC_EDU.img_1_credit }}</p>
      </div>

      {{ data.PUBLIC_EDU.text_2 }}

      <div class="block-text">
        <h2>&ldquo;We would be foolish and irresponsible to place our children’s future in the hands of unelected bureaucrats and special-interest groups thousands of miles away in Washington.&rdquo;</h2>
        <p class="source">&mdash; Gov. Rick Perry on the Obama administration's Race tothe Top competition</p>
      </div>

      {{ data.PUBLIC_EDU.text_3 }}
      {% include 'app/templates/includes/box_ad.html' %}
      {{ data.PUBLIC_EDU.text_4 }}

      <div class="sub-navigation">
        <h3>Keep reading:</h3>
        <ul>
        {% for key, value in data %}
          {% if value.topic %}
          <li class="story-link">
            <a href="http://apps.texastribune.org/perry-legacy/{{ value.slug }}"><i class="fa {{ value.icon }}"></i>{{ value.topic }}</a>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>

      {% include 'app/templates/includes/banner_ad.html' %}
    </div>
  </div>
</div>



{% endblock %}
